<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>政务管理-园所信息</title>
</head>
<body>
  <div class="header">
    <% include ../../components/header/header.ejs %>
  </div>
  <div class="container">
    <!-- menubar -->
    <div class="left_container" id="headerContainer" active-menu="menu_park_info">
      <% include ../../components/menubar/menubar.ejs %>
    </div>
    <!-- menubar end -->
    <!-- content -->
    <div class="right_container park_info_wrap">
      <h2>园所信息</h2>
      <div class="filter_options_row">
        <label for="">地区:</label>
        <select name="" id="provinceSelect">
          <option value=""  selected="selected">全省</option>
        </select>
        <select name="" id="citySelect">
          <option value=""  selected="selected">全市</option>
        </select>
        <select name="" id="areaSelect">
          <option value=""  selected="selected">全区</option>
        </select>
        <span style="float:right;">
          <label for="schoolName">幼儿园名称:</label>
          <input type="text" id="schoolName" />
        </span>
      </div>
      <div class="filter_options_row">
        <label for="">园所性质:</label>
        <select name="" id="schoolNature">
          <option value="" selected="selected">全部</option>
          <option value="公立">公立</option>
          <option value="私立">私立</option>
        </select>
        <label for="mobile">联系电话:</label>
        <input type="text" id="mobile" />
        <label for="leaderName">园长姓名:</label>
        <input type="text" id="leaderName">
        <a href="javascript:void(0);" id="filterBtn" class="btn">查询</a>
      </div>
      <div class="content_wrap" id="content">

      </div>
    </div>
    <!-- content end -->
  </div>
</body>
</html>
