@import '../../sass/sprite.scss';


.service_tips {
  height: 235px;
  text-align: center;
  border-bottom: 4px solid #f5f5f5;
  overflow: hidden;
  h3 {
    font-size: 12px;
    color: #999;
    font-weight: bolder;
    margin-top: 10px;
  }
  p {
    font-size: 12px;
    line-height: 24px;
    color: #93a2b1;
    font-weight: normal;
    text-align: center;
  }
}
.service_icon {
  @include sprite($i-service-logo);
  display: block;
  margin: 35px auto 0;
}
.menubar_wrap {
  li {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
    a {
      position: relative;
      display: block;
      text-decoration: none;
    }
    &.on {
      background-color: #f1f6f9;
      a {
        &:before {
          content: "";
          width: 4px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: #4fc4f6;
        }
        &:after {
          content: "";
          @include sprite($i-menu-arrow);
          position: absolute;
          top: 24px;
          right: 20px;
        }
      }
    }
  }
}
.menu_park_info {
  i {
    display: inline-block;
    @include sprite($i-menu-school-off);
  }
  &.on i {
    @include sprite($i-menu-school-on);
  }
}
.menu_notice {
  i {
    display: inline-block;
    @include sprite($i-menu-notice-off);
  }
  &.on i{
    @include sprite($i-menu-notice-on);
  }
}
.menu_material {
  i {
    display: inline-block;
    @include sprite($i-menu-material-off);
  }
  &.on i{
    @include sprite($i-menu-material-on);
  }
}
.menu_user_manage {
  i {
    display: inline-block;
    @include sprite($i-reset-pwd-off);
  }
  &.on i {
    @include sprite($i-reset-pwd-off);
  }
}
