
<div class="service_tips">
  <i class="service_icon"></i>
  <h3>在线客服</h3>
  <p>
    请问有什么可以帮您？<br />
    7:00-22:00<br />
    客服热线: 4000-996-999
  </p>
</div>
<ul class="menubar_wrap">
  <li class="menu_park_info">
    <a href="../park-info/index.html">
      <i></i>
      园所信息
    </a>
  </li>
  <li class="menu_notice">
    <a href="../notice/index.html">
      <i></i>
      通知公告
    </a>
  </li>
  <li class="menu_material">
    <a href="../material/index.html">
      <i></i>
      材料上报
    </a>
  </li>
  <li class="menu_user_manage">
    <a href="../user_manage/reset_pwd.html">
      <i></i>
      修改密码
    </a>
  </li>
</ul>
