
  <h1>幼儿园政务管理平台</h1>
  <div class="user_info">
    <span  class="user_info_avator"></span>
    <span class="user_info_name"></span>
    <a href="../user_manage/reset_pwd.html">修改密码</a>|
    <a  class="logout">退出登录</a>
  </div>
