<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>政务管理后台</title>
</head>
<body>
  <div class="login_head">
    <span>幼儿园政务管理平台</span>
  </div>
  <div class="login_form">
    <div class="row">
      <span class="username_wrap"><input type="text" id="userName" placeholder="请输入用户名" /></span>
    </div>
    <div class="row">
      <span class="password_wrap"><input type="password" id="password" placeholder="请输入密码"></span>
    </div>
    <div class="row row-small">
      <span class="error_msg"></span>
    </div>
    <div class="row">
      <span class="btn" id="loginBtn">登录</span>
    </div>
  </div>
  <div class="copyright">
    为了您更好的使用体验和安全保障，我们推荐您使用 : <a href="http://chrome.360.cn/">360极速浏览器</a> <a href="http://ie.sogou.com/">搜狗高速浏览器</a><br />
    北京环宇万维科技有限公司 2006-2014 版权所有
  </div>
</body>
</html>
