.material_wrap {
  #title {
    width: 310px;
  }
  #schoolName {
    width: 200px;
  }
  #createUser {
    width: 130px;
  }
  input {
    margin-left: 5px;
  }
  span label {
    width: 55px!important;
  }
}
